.DS_Store
node_modules
/.config/.cache/
/build/
# pnpm:
/.npmrc
# editorconfig:
/.editorconfig
# typescript:
/tsconfig.json
# libraryBundle:cli:
/packages/platform/condu/.config/generated/webpack.config.cjs
# eslint:
/eslint.config.js
# moon:
/.moon/
/.moon/cache
/.moon/docker
/.moon/toolchain.yml
/.moon/workspace.yml
/.moon/tasks.yml
moon.yml
/moon.yml
# (anonymous recipe)
/manual-testing
# vscode:
/.vscode/settings.json
/.vscode/extensions.json
# biome:
/biome.json
# autolink:
/vitest.config.ts
# custom ignore patterns:
.swc/
.idea/
.env
.env.*
/brand/
.claude/*.local.json
