.DS_Store
node_modules
/.config/.cache/
/build/
# yarn:
/.yarn/cache/
/yarn.config.cjs
# typescript:
/tsconfig.json
# library-bundle:cli:
/packages/platform/cli/.config/generated/webpack.config.cjs
/packages/platform/cli/packages/platform/cli/main.ts
# eslint:
/eslint.config.js
# moon:
/.moon/
/.moon/cache
/.moon/docker
/.moon/toolchain.yml
/.moon/workspace.yml
# moonCi:
/packages/platform/cli/moon.yml
/moon.yml
/.moon/tasks.yml
# lerna:
/lerna.json
# vscode:
/.vscode/settings.json
# gpt-summarizer:
/about-the-projects-and-its-source-code.md
# custom ignore patterns:
.swc/
.idea/