.DS_Store
node_modules
/.config/.cache/
/build/
# typescript:
/tsconfig.json
# pnpm:
/pnpm-workspace.yaml
# eslint:
/eslint.config.js
# moon:
/.moon/
/.moon/cache
/.moon/docker
/.moon/toolchain.yml
/.moon/workspace.yml
# moonCi:
/moon.yml
/.moon/tasks.yml
# vscode:
/.vscode/settings.json
# custom ignore patterns:
.env
.env.*